body {
	background-image: linear-gradient(180deg, #aad0df, #ffa9b8, #aad0df);
	min-height: 100vh;
}

.App {
	text-align: center;
}

button {
	height: 1rem;
	padding: 0.75rem;
	font-size: 1em;
	text-align: center;
	border-radius: 20px;
	border: 2px solid black;
	background-color: #a4d3e4;
	box-sizing: content-box;
}

button:hover {
	background-color: #62fbfd;
}

#Button-container {
	width: 80%;
	margin-inline: auto;
	display: flex;
	flex-flow: row, nowrap;
	justify-content: space-around;
}

#Content-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	max-width: 90%;
	margin-inline: auto;
}
